/* Posicione o Mário acima do Goomba.

Posicione a tag p para que fique dentro do balão de fala.

Posicione o balão para que se torne uma fala de Browser. */



.super-mario {
    width: 200px;
    position: absolute;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    top: 400px;
    left: 50px;
  }
  
  .baloon {
    position: absolute;
    left: 400px;
    z-index: 1;
  
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    left: 420px;
    top: 120px;
    z-index: 2;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    left: 700px;
    top: 250px;
    z-index: 3;
  }