* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-img {
  width: 70px;
}

.gallery-img {
  width: 150px;
}

.social-img {
  width: 25px;
  margin-left: 10px;
}

.head {
  background-color: rgb(53, 58, 58);
  width: 100%;
  display: flex;
  justify-content: space-around;
  color: white;
  border: 20px;
  align-items: center;
}

.p {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size:x-large;
  padding: 10px;
}

.caixaImg {
  display: flex;
  width: 500px;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

div {
  border-radius: 5%;
  box-shadow: 2px 2px rgb(185, 185, 185);

  margin: 5px;
  display: flex;
  flex-direction: column;
  text-align: center;
}